<article class="lim">

    <div class="like-title">
        <span class="like-this"><a ><i></i></a> {{model.likes}} <span>likes</span></span>
        <h1>{{model.caption}}</a> <a class='editable' data-permission="USER"><i  data-to-mode='active'></i></a><span class="media-pub">{{model.date}}</span></h1>
    </div>
    <div class="content">
        <p>
            {{model.text}}
        </p>
    </div>
    <div class="q-box">
        <span class="like-this"><a ><i></i></a> {{model.likes}} <span>likes</span></span>
        <span class="q-post">
            {{#if isLoggedIn}}<a href='#author/{{model.authorId}}/questions'><i></i></a>
            {{else}}<a><i data-to-login="author/{{model.authorId}}/questions"></i></a>{{/if}}
            Вопросов автору: {{model.questions}}</span>
    </div>
    <div class="bottom-toolbar t-center">
        <a href="#author/{{model.authorId}}/posts" class="btn">Читать другие посты</a>
    </div>

</article>