<!--<a class="logo" href="#">yasoon</a>-->

<!--<div class="org-nav">-->
    <!--<nav>-->
        <!--<a href="#explore/date/0">Профессии</a>-->
        <!--<a href="#people">Люди</a>-->
    <!--</nav>-->

    <!--<a class="sign-in" data-to-login >войти</a>-->
<!--</div>-->


<header class="log-in">
    <div class="inside">
        <a class="logo" href="/">yasoon</a>
        <div class="org-nav">
            <nav>
                <a href="#explore/date/0">Профессии</a>
                <a href="#people">Люди</a>
            </nav>
        </div>
        <div class="my-nav" data-permission="US">
            <a href="#author/{{model.id}}/posts">
                {{#if model.img}}
                    <img src="upload/avatar/{{model.img}}" alt=""/>
                {{else}}
                    <img src="./_temp/a1.jpg" alt="" />
                {{/if}}
                <span>
                {{#if model.questions}}
                    {{model.questions}}
                {{/if}}</span></a>
            <nav>
                <a href="#author/{{model.id}}/posts">Профиль</a>
                <a href='#author/{{model.id}}/questions'>Вопросы
                {{#if model.questions}}
                    ({{model.questions}})
                {{/if}}
                </a>
                <a href="#timeline">Лента</a>
                <a id="logout">Выйти</a>
            </nav>
        </div>
        <div class="my-nav" id='login' data-to-login data-permission="ANON">
            Войти
        </div>
    </div>
</header>