<article>
    <img src="./_temp/a1.jpg" class="usr-ic" alt="">
    <h4><a href="#author/{{model.authorId}}/posts" class="p-label">{{model.authorName}}</a></h4>
    <h2><a href="#author/{{model.authorId}}/posts/{{model.id}}">{{model.caption}}</a> <span class="post-date">{{model.date}}</span></h2>
    <div class="content lic">
        <p>{{model.text}}</p>
    </div>
    <div class='content'>
        <a class="btn" data-check-button>Проверено</a>
    </div>
    <div class="hr"></div>
</article>