<div class="post-edit">
    <div class="di">

        <div class="di">
            <h3>заголовок:</h3>
            <input type="text" placeholder="Название истории" data-field="caption" value='{{model.caption}}'>
        </div>

        <div class="di">
            <h3>отрасль:</h3>
            <select data-field="categoryId">
                {{#each categories}}
                    <option id='{{@key}}'
                            {{#equals @key ../model.categoryId}}
                                selected="selected"
                            {{/equals}}
                            >{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="di">
        <h3>текст:</h3>
        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
            <div class="btn-group">
                <div  class="item dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b
                        class="caret"></b></div>
                <ul class="dropdown-menu">
                </ul>
            </div>

            <div class="btn-group">
                <div  class="item" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><b>B</b></div>
                <div  class="item" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i>It</i></div>
                <div  class="item" data-edit="strikethrough" title="Strikethrough"><s>S</s></div>
                <div  class="item" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><u>U</u></div>
            </div>

            <div class="btn-group">
                <div  class="item dropdown-toggle" data-toggle="dropdown" title="Hyperlink">A</div>

                <div class="dropdown-menu input-append">
                    <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                    <div  class="item" type="button">Link</div>
                </div>

                <div  class="item" data-edit="unlink" title="Remove Hyperlink">Cut</div>
                <div  class="item" title="Insert picture (or just drag & drop)" id="pictureBtn">Img</div>
                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" class="pictureBtnInput" data-edit="insertImage"/>
            </div>

            <div class="btn-group">
                <div  class="item" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">Откатить</div>
                <div  class="item" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">Вернуть</div>
            </div>

        </div>
        <div id="editor" data-field="text">{{model.text}}</div>
    </div>

    <div class="di">
        <h3>аннотация:</h3>
        <div id="cleartxt" data-field='preview'>{{model.preview}}</div>
    </div>


    <div class="di t-center">

        <a class="btn" data-send-button>Опубликовать</a>
        {{#if model.id}}
        <a class="btn" data-delete-button>Удалить</a>
        {{/if}}
        <a class="mLeft10" data-to-mode="preview">Превью</a>
    </div>
</div>