<div class="post-edit">
    <div class="di">
        <select data-field="categoryId">
            {{#each categories}}
                <option id='{{@key}}'
                        {{#equals @key ../model.categoryId}}
                            selected="selected"
                        {{/equals}}
                        >{{this}}</option>

            {{/each}}
        </select>
    </div>
    <div class="di"><input type="text" placeholder="Заголовок" data-field="caption" value='{{model.caption}}'></div>
    <div class="di"><textarea placeholder="Превью - то, что будет видно в ленте" data-field='preview'>{{model.preview}}</textarea></div>

    <div class="di">
        <div class="post-edit-tools">
            <div class="item"><b>b</b></div>
            <div class="item"><b><i>It</i></b></div>
            <div class="item"><b>Quote</b></div>
            <div class="item">Загрузить картинку</div>
            <div class="clearfix"></div>
        </div>
        <textarea class="big" placeholder="Тело поста" data-field="text">{{model.text}}</textarea>
    </div>
    <div class="di t-center">
        <a class="btn" data-send-button>Опубликовать</a>
        {{#if model.id}}
        <a class="btn" data-delete-button>Удалить</a>
        {{/if}}
        <a class="mLeft10" data-to-mode="preview">Превью</a>
    </div>
</div>