<article class='lim'>
    <div class="like-title element" id='{{model.id}}'>
        <span class="like-this"><a><i></i></a> {{model.likes}} <span>лайков</span></span>
        <h2><a href='#author/{{model.authorId}}/posts/{{model.id}}'>{{model.caption}}</a><span class="post-date">{{model.date}}</span></h2>
    </div>

    <div class="content">
        <p>{{model.preview}}</p>
    </div>

    <div class="hr"></div>
</article>