<div class="open-area"></div>

<img src="./_temp/a1.jpg" alt="">
<h4 class="usr-name editable">{{author.name}}
    {{#if authorized}}
    <i></i>
    {{/if}}
</h4>
<p class="u-description">{{author.description}}</p>
<div class="hr"></div>
<div class="pub">
    <h4 class="p-label">published on</h4>
    {{author.publicationDate}}
    <div class="hr"></div>
</div>

<div class="media-hidden">
    <div class="inner">
        <div class="b-indent">Job:<br>
            <span class="t-under c-black">{{author.job}}</span>
        </div>
        <div class="b-indent">Interest:<br>
            <span class="t-under c-black">{{author.interest}}</span>
        </div>
        <div class="b-indent">Dream:<br>
            <span class="t-under c-black">{{author.dream}}</span>
        </div>
        <div class="hr"></div>
        <div class="d-box">
            <div><p class="p-label">posts</p> <a href="">{{author.posts}}</a></div>
            <div><p class="p-label">answers</p> <a href="">{{author.answers}}</a></div>
        </div>
        <div class="clearfix"></div>
        <div class="hr"></div>
        <div class="hdi">
            <a href="" class="btn">Follow</a>
        </div>
    </div>
</div>