<article class="lim">
    <div class="like-title">
        <span class="like-this"><a ><i></i></a> {{model.likes}} <span>likes</span></span>
        <h1>{{model.caption}}</a><span class="media-pub">{{model.date}}</span></h1>
    </div>
    <div class="content">
        <p>
            {{model.text}}
        </p>
    </div>
    <div class="q-box">
        <span class="like-this"><a ><i></i></a> {{model.likes}} <span>likes</span></span>
    </div>
    <div class="bottom-toolbar t-center">
        <a href="#author/{{model.authorId}}/posts" class="btn">Read another</a>
    </div>
</article>