<div class="info-form">
    <form name="info-form">
        <article class="cat-title">
            <h3>Редактирование личной информации</h3>
            <p class="fs c-grey">Отредактируйте свой профиль и допишите истории</p>
            <div class="hr"></div>
        </article>
        <div class="di"><input type="text" placeholder="Имя" data-field='name' value='{{model.name}}'>
            <div class="hhdi hide-warning data_name">Обязательно для заполнения</div>
        </div>

        <div class="di"><input type="text" placeholder="Email"  data-field='email' value='{{model.email}}'>
            <div class="hhdi hide-warning data_email">Неправильный формат email</div>
            <div class="hhdi"><label> <input type="checkbox">Подписаться на обновления</label></div>
        </div>

        <div class="di"><input type="password" id='newpass' placeholder="Новый пароль" data-field="new_password">
            <div id='oldpass' style='display: none'>Введите текущий пароль:
                <input type="password" placeholder="Старый пароль" data-field="old_password">
            </div>
        </div>


        <div class="di"><input type="text" placeholder="Ваша профессия или деятельность" data-field="job" value='{{model.job}}'></div>
        <div class="di"><input type="text" placeholder="Кем вы хотели стать в детстве" data-field="dreams" value='{{model.job}}'></div>
        <div class="di"><input type="text" placeholder="Профессия, которая вас вдохновляет" data-field="interests" value='{{model.job}}'></div>

        <div class="di"><textarea placeholder="Напишите краткую историю о себе" data-field="description" value='{{model.job}}'></textarea></div>

        <div class="di"><input type="text" placeholder="Личная страница" data-field="homepage"></div>
        <div class="di file_upload_block">
            <input id="fileupload" type="file" name="files[]" data-url="api/author/upload_user_image">
            <div class="files_success_upload"></div>
        </div>

        <div data-send-button class="regbtn di">Завершить правки</div>
    </form>
</div>