<header class="log-in"></header>
<section id="page-layout">

    <div class="left-side">
        <div class="di"><input type="text" class="search" placeholder="Поиск"></div>
        <div class="p-label di"><b>Отрасль</b></div>

        <nav class="nav-cat" id='categories'>
            {{#each categories}}
                <a id='{{@key}}' class='category active' href='{{@key}}'>
                    {{this}}
                </a>
            {{/each}}
        </nav>

    </div>
    <article class="lim cat-title">
        <h3 id='activeCategory'>{{activeCategory}}</h3>
        <p>Истории людей, которые любят то, что делают</p>
        <div class="hr"></div>
    </article>
    <nav class="navigate">
        <a href='#explore/date/{{activeCatId}}' id='dateButton'>По дате</a>
        <a href='#explore/rating/{{activeCatId}}' id='ratingButton'>По рейтингу</a>
    </nav>

    <div id='queue'>
    </div>



</section>

<footer></footer>