<article class="lim">
    <img src="./_temp/a1.jpg" class="usr-ic" alt="">
    <h4 class="p-label">Постов по теме: <a class="green">{{model.posts}}</a>
        &nbsp;&nbsp;&nbsp; Лайков: <a class="green">{{model.likes}}</a></h4>
    <h2><a href="#author/{{model.id}}/posts">{{model.name}}</a></h2>
    <div class="content lic">
        <p>{{model.topPostPreview}}</p>
    </div>
    <div class="hr"></div>
</article>