<a class="postinfo" href='#author/{{model.authorId}}/posts'>
    <img src="./_temp/a1.jpg" alt="">
    <h4 class="usr-name">{{model.authorName}}</h4>
    <p class="u-description">{{model.authorDescription}}</p>
    <div class="hr"></div>
</a>

<article class="lim">
    <div class="like-title">
        <span class="like-this"><a href=""><i></i></a> {{model.likes}} <span>лайков</span></span>
        <h1>{{model.caption}} <span class="media-pub">{{model.data}}</span></h1>
    </div>
    <div class="content">
        <p>{{model.text}}</p>

    </div>
    <div class="q-box">
        <span class="like-this"><a href=""><i></i></a> {{model.likes}} <span>лайков</span></span>
        <span class="q-post">
            <a href="#author/{{model.authorId}}/questions" data-permission="THEM"><i></i></a>
            <a><i data-to-login="author/{{model.authorId}}/questions" data-permission="ANON"></i></a>
            Вопросов автору: {{model.questions}}</span>
    </div>
    <article class="bottom-toolbar t-center">
        <a href="#explore/date/0" class="btn">Больше историй</a>
    </article>
</article>