<article class="lim">

    <div class="p-label"><a href="user.html">{{model.authorName}}</a></div>
    <h2><a href="#author/{{model.authorId}}/posts/{{model.id}}">{{model.caption}}</a></h2>
    <div class="content">
        <p>{{model.preview}}</p>
    </div>
    <div class="hr"></div>

</article>